<html>
<head>
	<link rel="stylesheet" type="text/css" href="site.css">
	<title> Página Inicial </title>
</head>
<body>
	<div class="oa_menu">
		<header>
			<div class="oam_brand">
				ENDORAMA LOGO
			</div>
			
			<div class="oam_wrapper">
				<div class="opt">
					IMG_PRODUTOS
				</div>
				<div class="opt">
					IMG_CLIENTES
				</div>
				<div class="opt">
					IMG_VENDAS
				</div>
				<div class="opt">
					IMG_OUTROS
				</div>
			</div>
		</header>
	</div>

<footer>

</footer>
</body>
</html>
