<html>
<head>
	<link rel="stylesheet" type="text/css" href="site.css">
	<title> Página Inicial </title>
</head>
<body>
	<div class="oa_menu">
		<header>
			
			<div class="oam_brand">
				ENDORAMA LOGO
			</div>
			
			<div class="oam_wrapper">
				<div class="opt opt_produto">
				</div>
				
				<div class="opt opt_cliente">
				</div>
				
				<div class="opt">
					IMG_VENDAS
				</div>
				
				<div class="opt">
					IMG_OUTROS
				</div>
			</div>
			
			<div class="search_wrapper">
				<div class="search_part">
					<form class="search_pedido_form" method="GET">
						<div class="search_div">
							<label class="search_label" for="search_cod_pedido">Cód. do Pedido:</label><br/>
							<input class="search_input" type="text" name="search_cod_pedido" placeholder="..." id="search_cod_pedido"/>
                        </div>
						
						<div class="search_div">
							<label class="search_label" for="search_sit_pedido">Situação do Pedido:</label><br/>
							<input class="search_input" type="text" name="search_sit_pedido" placeholder="..." id="search_sit_pedido"/>
						</div>
						
						<div class="search_button_div">
						    <button class="search_button" type="submit">
						    </button>
						</div>
						
					</form>
				</div>
				
				<div class="search_part">
				</div>
				
				<div class="search_part">
				</div>
			</div>
			
		</header>
	</div>

<footer>
	endorama fábrica de essências
</footer>
</body>
</html>