<html>
<head>
	<link rel="stylesheet" type="text/css" href="site.css">
	<title> Página Inicial </title>
</head>
<body>
	
	<div class="oa_menu">
		<header>
			
			<div class="oam_brand">
				ENDORAMA LOGO
			</div>
			
			<div class="oam_wrapper">
				<div class="oam_opt opt_produto oam_dropdown">
					<a href="#"><div class="oam_drop_div"></div></a>
					<div class="oam_dropdown_content">
						<a href="#" target="main_frame"><div class="oam_drop_opt">frame</div></a>
						<a href="#" target="main_frame"><div class="oam_drop_opt">TESTE</div></a>
					</div>
				</div>
				
				<div class="oam_opt opt_cliente oam_dropdown">
					<a href="#"><div class="oam_drop_div"></div></a>
					<div class="oam_dropdown_content">
						<a href="#" target="main_frame"><div class="oam_drop_opt">TESTE</div></a>
						<a href="#" target="main_frame"><div class="oam_drop_opt">TESTE</div></a>
					</div>
				</div>
				
				<div class="oam_opt">
					IMG_VENDAS
				</div>
				
				<div class="oam_opt">
					IMG_OUTROS
				</div>
			</div>
			
			<div class="search_wrapper">
				<div class="search_part">
					<form class="search_pedido_form" method="GET">
						<div class="search_div">
							<label class="search_label" for="search_cod_pedido">Cód. do Pedido:</label><br/>
							<input class="search_input" type="text" name="search_cod_pedido" placeholder="..." id="search_cod_pedido"/>
                        </div>
						
						<div class="search_div">
							<label class="search_label" for="search_sit_pedido">Situação do Pedido:</label><br/>
							<select class="search_input" type="text" name="search_sit_pedido" id="search_sit_pedido">
								<option class="search_sel_opt" value="Concluido" selected> Concluido </option>
								<option class="search_sel_opt" value="Indiferente"> Indiferente </option>
							</select>
						</div>
						
						<div class="search_button_div">
						    <button class="search_button" type="submit">
						    </button>
						</div>
						
					</form>
				</div>
				
				<div class="search_part">
				</div>
				
				<div class="search_part">
				</div>
			</div>
			
		</header>
	</div>

	<iframe src="teste_1.html" name="main_frame"></iframe>
<footer>
	Sistema Administrativo Endorama - Fabricação de fumos para narguilé e vaporizadores
</footer>
</body>
</html>